## Merging Crash and Violations Dataset

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
df1 = pd.read_csv('crashdata.csv')
df2 = pd.read_csv('Speed_Camera_Violations_merge.csv')

In [26]:
df1.head()

,No,Camera_ID,Address,Safety Zone,Total Crashes 2012-2013,Serious Fatal 2012-2013,Bicycle Pedestrian 2012-2013,Speed Related 2012-2013,Youth Related 2012-2013,Total Crashes 2015-2016,Serious Fatal 2015-2016,Bicycle Pedestrian 2015-2016,Speed Related 2015-2016,Youth Related 2015-2016
0,1,CHI003,4124 W Foster Ave,Gompers Park Speed Camera EB WB,15,4,3,1,0,14,2,1,3,1
1,2,CHI004,5120 N Pulaski Rd,Gompers Park Speed Camera NB SB,86,16,1,4,6,67,12,3,3,4
2,3,CHI005,2080 W Pershing Rd,McKinley Park Speed Camera EB WB,13,1,0,1,1,27,3,0,4,4
3,4,CHI007,3843 S Western Blvd,McKinley Park Speed Camera NB SB,118,27,2,13,9,128,27,3,21,17
4,5,CHI008,3655 W Jackson Blvd,Garfield Park Speed Camera EB WB,3,1,0,0,0,0,0,0,0,0

In [27]:
df2.head()

,ADDRESS,CAMERA ID,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,7738 S WESTERN,CHI065,7/8/2014,65,NaN,NaN,NaN,NaN,NaN
1,1111 N HUMBOLDT,CHI010,7/16/2014,56,NaN,NaN,NaN,NaN,NaN
2,5520 S WESTERN,CHI069,7/8/2014,10,NaN,NaN,NaN,NaN,NaN
3,1111 N HUMBOLDT,CHI010,7/26/2014,101,NaN,NaN,NaN,NaN,NaN
4,1111 N HUMBOLDT,CHI010,7/27/2014,92,NaN,NaN,NaN,NaN,NaN

In [28]:
df3 = df2.groupby('CAMERA ID')['VIOLATIONS'].sum().reset_index()

In [29]:
df3.head()

  CAMERA ID  VIOLATIONS
0    CHI003      191445
1    CHI004       59090
2    CHI005       20026
3    CHI007       98242
4    CHI008       32444

In [30]:
df_11 = df1.copy()

In [31]:
df_11[['camID1','camID2']] = df_11.Camera_ID.str.split("|",expand=True)

In [32]:
df_11['camID1'] = df_11['camID1'].str.strip('*')
df_11['camID2'] = df_11['camID2'].str.strip('*')

In [33]:
merged = pd.merge(df_11, df3, how = 'left', left_on=['camID1'], right_on=['CAMERA ID'])
merged2 = pd.merge(merged, df3, how = 'left', left_on=['camID2'], right_on=['CAMERA ID'])

In [34]:
merged2.VIOLATIONS_y.fillna(0, inplace = True) 
merged2['Total_Violations'] = merged2['VIOLATIONS_x'] + merged2['VIOLATIONS_y']
merged2.drop(columns=['camID1','camID2','CAMERA ID_x','VIOLATIONS_x','CAMERA ID_y','VIOLATIONS_y'],inplace=True)

In [37]:
merged2.head()

,No,Camera_ID,Address,Safety Zone,Total Crashes 2012-2013,Serious Fatal 2012-2013,Bicycle Pedestrian 2012-2013,Speed Related 2012-2013,Youth Related 2012-2013,Total Crashes 2015-2016,Serious Fatal 2015-2016,Bicycle Pedestrian 2015-2016,Speed Related 2015-2016,Youth Related 2015-2016,Total_Violations
0,1,CHI003,4124 W Foster Ave,Gompers Park Speed Camera EB WB,15,4,3,1,0,14,2,1,3,1,191445.0
1,2,CHI004,5120 N Pulaski Rd,Gompers Park Speed Camera NB SB,86,16,1,4,6,67,12,3,3,4,59090.0
2,3,CHI005,2080 W Pershing Rd,McKinley Park Speed Camera EB WB,13,1,0,1,1,27,3,0,4,4,20026.0
3,4,CHI007,3843 S Western Blvd,McKinley Park Speed Camera NB SB,118,27,2,13,9,128,27,3,21,17,98242.0
4,5,CHI008,3655 W Jackson Blvd,Garfield Park Speed Camera EB WB,3,1,0,0,0,0,0,0,0,0,32444.0

In [38]:
merged2.to_csv('CrashandViolations_merged.csv')

<br>

<br>
<br>
<br>
Author: Pragyan Sharma